@use '../utils/mixins.scss' as *;

.dropdown {
    position: relative;
    display: flex;

    button.dropdown_trigger {
        width: 2.25rem;
        aspect-ratio: 1/1;
        padding: 0;
    }

    ul.dropdown_items {
        position: absolute;
        top: calc(100% + 0.5rem);
        right: 0.5rem;
        padding: 1rem 1.25rem;
        border: 1px solid var(--c-neutral-400);
        border-radius: 5px;
        transition: all 0.3s ease;

        opacity: 0;
        visibility: hidden;

        li {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }


            input[type=radio] {
                display: none;

                &:checked ~ label {
                    color: var(--c-neutral-500);
                }
            }
    
            label {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: max-content;
                white-space: nowrap;
                color: var(--c-neutral-400);
                font-family: var(--ff-secondary);
                font-size: var(--fs-100);
                font-weight: 600;
                cursor: pointer;
                transition: color 0.3s ease;
    
                > img {
                    width: 16px;
                    height: 16px;
                    margin-right: 0.825rem;
                }

                @include hover {
                    color: var(--c-neutral-500);
                }
            }
        }        
    }

    &.active {
        ul.dropdown_items {
            opacity: 1;
            visibility: visible;
        }
    }
}