@use '../utils/mixins.scss' as *;

.main-container {
    position: relative;
    width: 100%;
    // padding: 5rem 0;
    padding-top: 5rem;
    background-color: var(--background-secondary);

    @include breakpoint(mobile, md) {
        // padding: 3rem 0;
    }

    // > svg {
    //     position: absolute;
    //     width: 100%;
    //     background-color: transparent;
    //     fill: var(--c-neutral-100);

    //     &.top-wavy {
    //         bottom: 100%;
    //     }
    //     &.bottom-wavy {
    //         top: 100%;
    //     }
    // }

    section.intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10rem;

        @include breakpoint(mobile, md) {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 3rem;
        }

        article {
            align-self: center;
            width: min(480px, 100%);

            @include breakpoint(mobile, md) {
                text-align: center;
            }
            
            > h2 {
                // margin-bottom: 0.5rem;
                color: var(--text-heading);
                font-family: var(--ff-primary);
                font-size: var(--fs-600);
                font-weight: 700;
            }

            .tab {
                width: 100%;
                margin-bottom: 1.5rem;

                .tab_nav {
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;
                    margin-bottom: 0.75rem;

                    @include breakpoint(mobile, md) {
                        justify-content: center;
                    }

                    input[type=radio] {
                        display: none;

                        &:checked ~ label {
                            color: var(--c-yellow-400);
                        }
                    }

                    label {
                        color: var(--text-muted);
                        font-family: var(--ff-secondary);
                        font-size: var(--fs-100);
                        font-weight: 700;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        @include hover {
                            color: var(--c-yellow-400);
                        }
                    }
                }
                .tab_content {
                    p {
                        color: var(--text-muted);
                        font-family: var(--ff-secondary);
                        font-size: var(--fs-200);
                        font-weight: 400;
                        // line-height: 1.25;

                        display: none;
                        opacity: 0;
                        visibility: hidden;

                        transition: all 0.3s ease;

                        &.active {
                            display: block;
                        }

                        &.show {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .links {
                display: flex;
                align-items: center;
                gap: 1rem;

                @include breakpoint(mobile, md) {
                    justify-content: center;
                }
            }
        }

        .about-illustration {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint(mobile, md) {
                margin-bottom: 2rem;
            }

            .stacks {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 6px;
                width: min(450px, 100%);
                text-align: center;
                span {
                    padding: 0 8px;
                    border: 1px solid var(--text-muted);
                    border-radius: 5px;
                    color: var(--text-muted);
                    font-family: var(--ff-triary);
                    font-size: var(--fs-100);
                }
            }
        }
    }

    // project section
    section.projects {
        padding: 10rem 0;

        .section-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
            text-align: center;

            .title {
                color: var(--text-heading);
                font-family: var(--ff-primary);
                font-size: var(--fs-600);
                font-weight: 700;
            }

            p {
                width: min(400px, 100%);
                color: var(--text-muted);
                font-family: var(--ff-secondary);
                font-size: var(--fs-200);
                font-weight: 400;
            }
        }
    }
}