main.root {
    width: 100%;
    height: auto;
    background-color: var(--background-primary);

    .container {
        width: min(1000px, 90%);
        margin: 0 auto;
    }

    .c-primary {
        color: var(--text-primary);
    }
    .c-secondary {
        color: var(--text-secondary);
    }

    .logo {
        font-family: var(--ff-logo);
        font-size: var(--fs-800);
        color: var(--text-heading);
    }
}