@use '../utils/mixins.scss' as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.75rem 1.75rem;
    width: max-content;
    border: none;
    border-radius: 5px;
    box-shadow: -5px 5px 5px 0 var(--c-neutral-850);

    color: white;
    font-family: var(--ff-secondary);
    font-size: var(--fs-200);
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;

    &.btn-primary {
        background-color: var(--c-yellow-400);
        &.btn-outline {
            border: 1px solid var(--c-yellow-400);
            background: transparent;
            color: var(--c-yellow-400);
        }
    }
    &.btn-secondary {
        background-color: var(--c-purple-400);
        &.btn-outline {
            border: 1px solid var(--c-purple-400);
            background: transparent;
            color: var(--c-purple-400);
        }
    }
}