@use '../utils/mixins.scss' as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.75rem 1.75rem;
    width: max-content;
    border: none;
    border-radius: 0.5rem;
    box-shadow: -5px 10px 10px 2px var(--c-shadow-dark);

    color: white;
    font-family: var(--ff-secondary);
    font-size: var(--fs-300);
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;

    &.btn-primary {
        background-color: var(--c-yellow-400);
    }
    &.btn-secondary {
        background-color: var(--c-purple-400);
    }
    &.btn-lg {
        padding: 1rem 1.5rem;
        font-size: var(--fs-400);

    }
}