@use '../utils/mixins.scss' as *;

.main-container {
    position: relative;
    width: 100%;
    padding: 5rem 0;
    background-color: var(--c-neutral-100);

    > svg {
        position: absolute;
        width: 100%;
        // height: min(350px, 45vh);
        background-color: transparent;
        fill: var(--c-neutral-100);

        &.top-wavy {
            bottom: 100%;
        }
        &.bottom-wavy {
            top: 100%;
        }
    }

    section.intro {
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {
            align-self: center;
            width: min(480px, 100%);
            
            > h2 {
                // margin-bottom: 0.5rem;
                color: var(--c-neutral-800);
                font-family: var(--ff-primary);
                font-size: var(--fs-600);
                font-weight: 700;
            }

            .tab {
                width: 100%;
                margin-bottom: 1.5rem;

                nav.tab_nav {
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;
                    margin-bottom: 0.75rem;

                    button {
                        background-color: transparent;
                        border: none;
                        color: var(--c-neutral-300);
                        font-family: var(--ff-secondary);
                        font-size: var(--fs-200);
                        cursor: pointer;
                        &:not(.active) {
                            @include hover {
                                color: var(--c-yellow-400);
                            }
                        }
                        &.active {
                            color: var(--c-yellow-400);
                            font-weight: 700;
                        }
                    }
                }
                .tab_content {
                    p {
                        color: var(--c-neutral-500);
                        font-family: var(--ff-secondary);
                        font-size: var(--fs-200);
                        font-weight: 400;
                        line-height: 1.5;

                        display: none;
                        opacity: 0;
                        visibility: hidden;

                        &.show {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .links {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .about-illustration {
            display: flex;
            flex-direction: column;
            align-items: center;

            .stacks {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 6px;
                width: min(450px, 100%);
                text-align: center;
                span {
                    padding: 0 8px;
                    border: 1px solid var(--c-neutral-400);
                    border-radius: 5px;
                    color: var(--c-neutral-400);
                    font-family: var(--ff-triary);
                    font-size: var(--fs-100);
                }
            }
        }
    }

    //     .section_illustration {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;

    //         .stacks {
    //             display: flex;
    //             justify-content: center;
    //             gap: 8px;
    //             flex-wrap: wrap;
    //             text-align: center;
    //             span {
    //                 padding: 0 10px;
    //                 border: 1px solid var(--c-neutral-700);
    //                 border-radius: 4px;
    //                 color: var(--c-neutral-700);
    //                 font-family: var(--ff-triary);
    //                 font-size: var(--fs-100);
    //                 text-transform: uppercase;
    //             }
    //         }
    //     }
    // }

    // project section
    section.projects {
        padding: 10rem 0;

        .section_title {
            margin-bottom: 5rem;
            color: var(--c-neutral-800);
            font-family: var(--ff-primary);
            font-size: var(--fs-600);
            text-align: center;
        }
    }
}