@use '../utils/mixins.scss' as *;

.main-container {
    width: 100%;

    // about me section
    section.about {
        padding: 5rem 0;
        background-color: var(--c-yellow-400);
        .container {
            display: grid;
            grid-template-columns: 1.2fr 0.8fr;
            align-items: center;
        }

        .section_article {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .intro {
                h2 {
                    margin-bottom: 1rem;
                    color: var(--c-neutral-800);
                    font-family: var(--ff-primary);
                    font-size: var(--fs-700);
                    font-weight: 700;
                }
                p {
                    color: var(--c-neutral-700);
                    font-family: var(--ff-secondary);
                    font-size: var(--fs-300);
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .personal-details {
                font-family: var(--ff-secondary);
                font-size: var(--fs-200);
                font-weight: 600;
                color: var(--c-neutral-700);

                p {
                    display: flex;
                    gap: 1rem;
                }
            }
            .links {
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }
        }

        .section_illustration {
            display: flex;
            flex-direction: column;
            align-items: center;

            .stacks {
                display: flex;
                justify-content: center;
                gap: 8px;
                flex-wrap: wrap;
                text-align: center;
                span {
                    padding: 0 10px;
                    border: 1px solid var(--c-neutral-700);
                    border-radius: 4px;
                    color: var(--c-neutral-700);
                    font-family: var(--ff-triary);
                    font-size: var(--fs-100);
                    text-transform: uppercase;
                }
            }
        }
    }

    // project section
    section.projects {
        padding: 5rem 0;
    }
}