main.root {
    width: 100%;
    height: auto;
    background-color: var(--c-neutral-200);

    .container {
        width: min(1110px, 90%);
        margin: 0 auto;
    }

    .c-primary {
        color: var(--c-yellow-400);
    }
    .c-secondary {
        color: var(--c-purple-400);
    }
}